<h2>Edit Startup Profile</h2>

<p><%= @user.name %>, edit your startup's profile below:</p>

<form action="/startups/<%=@startup.id%>" method="post">
<input type="hidden" name = "_method" value ="patch">

<label>Startup Name: </label>
<input type="text" name="name" value="<%= @startup.name %>" required>
<br></br>

<label>Startup Description: </label>
<textarea type="text" name="description" rows="5" cols="50" required>
<%= @startup.description %>

</textarea>

<br></br>
<label>Founding Year: </label>
<input type="text" name="year_founded" value="<%= @startup.year_founded %>" required>

<br></br>
<label>Website: </label>
<input type="text" name="website" value="<%= @startup.website %>">

<br></br>
<p>Select your startup's lifecycle stage:</p
<p>
  <select name="stage">
    <option value="Seed"  <%if @startup.stage == "Seed"%> selected<% end %>>Seed</option>
    <option value="Early Stage" <%if @startup.stage == "Early Stage"%>selected<% end %>>Early Stage</option>
    <option value="Late Stage" <%if @startup.stage == "Late Stage"%>selected<% end %>>Late Stage</option>

  </select>
</p>

<p>Select the areas from the list below where your startup needs help:</p>
<p>
<input type="radio" id="helpneeded1" name="help_needed" value="Operations" <%='checked' if @startup.help_needed == "Operations" %>>  Operations<br>
<input type="radio" id="helpneeded2" name="help_needed" value="Funding"<%='checked' if @startup.help_needed == "Funding" %>>  Funding<br>
<input type="radio" id="helpneeded3" name="help_needed" value="Product & Design"<%='checked' if @startup.help_needed == "Product & Design" %>>  Product & Design<br>
<input type="radio" id="helpneeded4" name="help_needed" value="Marketing"<%='checked' if @startup.help_needed == "Marketing" %>>  Marketing<br>
<input type="radio" id="helpneeded5" name="help_needed" value="Technology"<%='checked' if @startup.help_needed == "Technology" %>>  Technology<br>
</p>


<input type="submit" value="submit">

</form>
<br>

<a class="button" href="/startups/<%= @startup.id %>">View Startup Profile</a>
<br><br>

<% if authorized_to_edit?(@startup.user_id) %>
<!-- they won't see the delete link unless they are the owner-->
  <form class="" action="/startups/<%= @startup.id %>" method="post">

    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" class="text-button" value="Delete Startup profile">
  </form>


<% end %>
