<h2><%=@startup.name%></h2>

<h3>Company Description:</h3>
<p><%= @startup.description %></p>
<br>

<h3>Founded Date:</h3>
<p><%= @startup.year_founded %></p>
<br>

<h3>Company Stage:</h3>
<p><%= @startup.stage %></p>
<br>

<h3>Website:</h3>
<p><a href="<%= @startup.website %>" target="_blank"><%= @startup.website %></a></p>
<br>

<% if has_mentor?(@startup) %>

<h3>Mentor:</h3>


<p><a href="/mentors/<%= @startup.mentor_id %>" target="_blank"><%= @startup.mentor.name %></a></p>
<br>
<% else %>

<h3>Need Help With:</h3>
<p><%= @startup.help_needed %></p>



<form action="/startups/<%= @startup.id %>/addmentor" method="post">
   <input type="hidden" name="mentor_id" value="<%= @user.id %>" />

   <input type="submit" value="Mentor this startup">
</form>
<br><br>
<!--Button to elect to mentor this startup - reloads or redirects back to this page -->

<% end %>

<% if logged_in? %>
  <a href="/startups/<%= @startup.id %>/edit">Edit Startup Profile</a>
  <br><br>

    <!-- Link to Logout -->


<% end %>
