<h2><%=@mentor.name%></h2>

<h3>About Me:</h3>
<p><%= @mentor.mentor_description %></p>
<br>

<h3>Location:</h3>
<p><%= @mentor.location %></p>
<br>

<h3>Linked In:</h3>
<p><a href="<%= @mentor.linked_in %>" target="_blank"><%= @mentor.linked_in %></a></p>
<br>
