<div class="row">
  <div class="col">
    <h2><%=@user.name%></h2>
  </div>
</div>

<div class="row">
  <div class="col">
    <strong>About Me</strong>
    <p><%=@user.mentor_description%></p>
  </div>
</div>

<div class="row">
  <div class="col">
    <strong>Location</strong>
    <p><%=@user.location%></p>
  </div>
</div>

<div class="row">
  <div class="col">
    <strong>LinkedIn</strong>
    <p><a href="<%=@user.linked_in%>" target="_blank"><%=@user.linked_in%></a></p>
  </div>
</div>

<div class="row">
  <div class="col">
    <strong>Mentorships</strong>
    <%@user.mentorships.each do |startup|%>
    <div class="row">
      <div class="col">
        <a class="link-list-item" href="/startups/<%=startup.id%>"><%=startup.name%></a>
      </div>
    </div>
    <%end%>
  </div>
</div>

<div class="row button-stack-item">
  <div class="col">
    <a class="btn btn-primary" href="/mentors/<%= @user.id %>/edit">Edit Mentor Profile</a>
  </div>
</div>
